<div class="pa_back">
	<%= form_for @user, url: {action: "create
		"} do |f| %>
		<div class="row">
			<div class="pa_wel">
				Welcome!  You are registering as: <%= @registrant.email %>
			</div>
		</div>
		<div class="row">
			<div class="pa_greet">
				Let's Get Your Profile Started!
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :password, :class => "pa_label" %>
				<%= f.password_field :password %>
				<%= f.label :password_confirmation, :class => "pa_label" %>
				<%= f.password_field :password_confirmation %>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.label :birthday, :class => "pa_label" %>
				<%= f.date_field :birthday %>
			</div>
			<!-- <div class="row">
				<%#= f.label "Profile Picture", :profile %>
				<%#= f.file_field :profile %>
			</div> -->
			<div class="large-12 columns">
				<%= f.label :bio, :class => "pa_label" %>
				<%= f.text_area :bio %>
			</div>
			<%= f.submit "Submit", :class => "small button" %>
		</div>
	<% end %>
</div>